<input type="text" [(ngModel)]="title">
{{ title }}

<div [ngSwitch]="title">
    <p *ngSwitchCase="'cristobal'">Este es Cristobal</p>
    <p *ngSwitchCase="'Kylo'">Este es Kyo Ren</p>
    <p *ngSwitchCase="'Ben'">Este es Ben Solo</p>
    <p *ngSwitchDefault>No hay ningún match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">La lista está vacia</li>
    <li *ngFor="let name of items; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">Delete Item</button>
    </li>
</ul>

<div *ngFor="let product of products">
    {{ product.title }}
    <img [src]="product.image" alt="imagen de producto">
    {{  product.price }}
</div>
